---
const { img, title } = Astro.props;
---

<div class="card-hero">
  <img class="card-hero__bkg" src={img['src']} alt="Loading" />
  <div class="card-hero__backdrop"></div>
  <div class="card-hero__body">
    <h3>
      {title}
    </h3>
    <div class="_content">
      <slot name="content" />
    </div>
    <footer>
      <slot name="footer" />
    </footer>
  </div>
</div>

<style>
  .card-hero {
    @apply hero shadow rounded-2xl w-full h-full cursor-help;
    transition: all 0.3s ease;
  }

  /* common */
  .card-hero__content {
    @apply relative rounded-2xl w-full h-full flex flex-col items-center text-white;
  }

  .card-hero__body {
    @apply card-hero__content;
  }

  /* image & background */
  .card-hero__bkg {
    @apply object-cover !h-[200px] card-hero__body;
  }

  .card-hero__backdrop {
    @apply card-hero__content backdrop-blur-sm;
    background-color: rgba(0, 0, 0, 0.22);
    transition: all 0.3s ease;
  }

  .card-hero:hover .card-hero__backdrop {
    @apply backdrop-blur-0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.1) 0
      ),
      linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1) 25%,
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.1) 0
      );
    background-position:
      0 0,
      6px 6px;
    background-size: 12px 12px;
  }

  /* content */
  .card-hero__content h3 {
    @apply text-2xl font-bold mt-[30px];
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  }

  .card-hero__content ._content {
    @apply flex flex-col gap-2 items-center text-xs text-gray-100 mt-[10px];
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  .card-hero__content footer {
    @apply absolute bottom-[0] text-gray-300 flex w-full px-8 items-end justify-end gap-4;
  }
</style>
