---
import ArticleItem from './item.astro';
import { type Article, parseArticles } from '../../utils/glob';

const posts = await Astro.glob('../../../articles/**/*.md');
const articles: Article[] = parseArticles(posts);
const timeSortedArticles = articles.sort((a, b) => {
  return new Date(b.date).getTime() - new Date(a.date).getTime();
});
---

<div class="article-group">
  {
    timeSortedArticles.map((a) => (
      <div class="article-block">
        <ArticleItem article={a} />
      </div>
    ))
  }
</div>

<style lang="scss">
  .article-group {
    @apply px-4 py-8 w-full flex flex-wrap;

    .article-block {
      @apply flex w-1/3 px-2 h-[50px];
    }
  }
</style>
