---
import { type Article, parseArticles } from '../../utils/glob';
import ArticleItem from './item.astro';
import Badge from '../badge/badge-icon.astro';
const posts = await Astro.glob('../../../articles/**/*.md');
const articles: Article[] = parseArticles(posts);

const tagGroupedArticles = articles.reduce((acc, cur) => {
  const tag = cur.tag;
  if (!acc[tag]) {
    acc[tag] = [];
  }
  acc[tag].push(cur);
  return acc;
}, {});

const tagKeys = Object.keys(tagGroupedArticles);
---

<div class="article-group">
  {tagKeys.map((tag) => (
    <div class="tag-group">
      <div class="flex items-center gap-2 text-2xl text-[#666] m-2">
        <Badge size="36" name={tag} />
        {tag}
      </div>

      <div class="tag-articles">
        {tagGroupedArticles[tag].map((a) => (
          <div class="article-block">
            <ArticleItem article={a} />
          </div>
        ))}
      </div>
    </div>
  ))}
</div>

<style lang="scss">
  .article-group {
    @apply py-8 w-full flex flex-wrap gap-8;

    .tag-group {
      @apply flex flex-col w-1/3 py-8 flex-grow;
    }

    .tag-articles {
      @apply bg-opacity-80 pl-3 pr-6 py-1 rounded-lg flex-grow;
      background: linear-gradient(
        135deg, rgba(215, 241, 237, 0.17), rgba(255, 245, 245, 0.59)
      );
    }

    .article-block {
      @apply flex h-[50px];
    }
  }
</style>
