---
import ItemGroup from './group.astro';
---

<div class="article-list">
  <ItemGroup />
</div>

<style lang="scss">
  .article-list {
    @apply bg-purple-50 bg-opacity-50 rounded-xl gap-2 flex flex-wrap items-start w-full;
  }
</style>
