---
import { Icon } from 'astro-icon/components';
import Badge from '../badge/badge-icon.astro';

const { article, showBadge } = Astro.props;
---

<div class="article-list-item">
  <div class="tooltip max-w-[calc(100%-70px)]" data-tip="点击跳转">
    <a class="flex btn btn-ghost btn-sm" href={'/article/' + article.title}>
      <div class="text-sm w-full flex gap-2 items-center">
        <div style={{
          display: showBadge ? 'block' : 'none',
        }} class="w-[30px] flex items-center justify-center">
          <Badge size={28} name={article.tag}></Badge>
        </div>
        <span class="truncate">{article.title}</span>
      </div>
    </a>
  </div>
  <div class="release-date">
    {article.date}
  </div>
</div>

<style>
    .article-list-item {
        @apply text-sm;
        @apply text-[#333];
        @apply flex items-center h-[45px] w-full;
    }

    .release-date {
        @apply ml-auto text-xs text-primary-focus cursor-default;
    }
</style>
