---
import ItemGroup from './group.astro';
---

<div class="article-list">
  <ItemGroup />
</div>

<style lang="scss">
  .article-list {
    @apply gap-2 pr-4 flex flex-wrap items-start w-full;
  }
</style>
