---
import { type Article, parseArticles } from '../../utils/glob';
import ArticleItem from './item.astro';
import Badge from '../badge/badge-icon.astro';
const posts = await Astro.glob('../../../articles/**/*.md');
const articles: Article[] = parseArticles(posts);

const timeSortedArticles = articles.sort((a, b) => {
  return new Date(b.date).getTime() - new Date(a.date).getTime();
});
---

<div class="article-list">
  {timeSortedArticles.map((a) => (
    <div class="article-block">
      <ArticleItem showBadge article={a} />
    </div>
  ))}
</div>

<style lang="scss">
  .article-list {
    @apply py-8 w-full flex flex-wrap;

    .article-block {
      @apply w-1/2 flex h-[50px] px-4 my-2;
    }
  }
</style>
