---
import { Icon } from 'astro-icon/components';

const { article } = Astro.props;
---

<div class="article-list-item">
  <div class="tooltip ml-2" data-tip="点击跳转">
    <a class="btn btn-ghost btn-xs" href={'/article/' + article.title}>
      <div class="w-full flex gap-2 items-center">
        <Icon name="mingcute:play-fill" size={10} />
        {article.title}
      </div>
      <!--<div class="badge badge-ghost badge-sm">{article.tag}</div>-->
    </a>
  </div>
  <div class="release-date">
    {article.date}
  </div>
</div>

<style>
  .article-list-item {
    @apply w-full flex items-center;
  }

  .release-date {
    @apply ml-auto text-primary-focus cursor-default text-sm;
  }
</style>
