---
import Linux from '@components/badge-set/linux.astro';
import AstroIcon from '@components/badge-set/astro-icon.astro';
import Markdown from '@components/badge-set/markdown.astro';
import ItemGroup from './item-group.astro';
import Java from '@components/badge-set/java.astro';
import Vue from '@components/badge-set/vue.astro';
import Html from '@components/badge-set/html.astro';
import StarFill from '@components/badge-set/star-fill.astro';
---

<div class="article-list">
  <div class="article-divider">
    <Linux />
  </div>
  <ItemGroup tag="linux" />

  <div class="article-divider">
    <AstroIcon />
  </div>
  <ItemGroup tag="astro" />

  <div class="article-divider">
    <Html />
  </div>
  <ItemGroup tag="html" />

  <div class="article-divider">
    <Vue />
  </div>
  <ItemGroup tag="vue" />

  <div class="article-divider">
    <Java />
  </div>
  <ItemGroup tag="java" />

  <div class="article-divider">
    <Markdown />
  </div>
  <ItemGroup tag="markdown" />

  <div class="article-divider">
    <StarFill />
  </div>
  <ItemGroup tag="star" />
</div>

<style>
  .article-list {
    @apply flex flex-col justify-start h-full items-start w-full gap-1;
  }

  .article-divider {
    @apply divider;
  }

  .article-divider:not(:first-of-type) {
    @apply mt-[60px];
  }
</style>
