---
import { parseArticles } from '@utils/glob';
import ArticleItem from './item.astro';

const posts = await Astro.glob('../../content/article/*.md');
const articles = parseArticles(posts);
---

<div class="flex flex-col items-start w-full">
  {articles.map((a) =>
    <ArticleItem class="w-full" article={a} />,
  )}
</div>