---
import BaseLayout from '@layouts/base/index.astro';
---

<BaseLayout>
  <h1>About</h1>
  <div class="about">
    施工中
  </div>
</BaseLayout>

<style>
    .about {
        @apply flex flex-col items-start w-full mt-[30px];
    }
</style>
