---
import { Icon } from 'astro-icon/components';
import BaseLayout from '@layouts/base/index.astro';
---

<BaseLayout>
  <h2>About</h2>
  <div class="about">
    <Icon class="mb-2" size="40" name="mage:box-3d-scan-fill" />
     施工中...
  </div>
</BaseLayout>

<style>
  .about {
    @apply flex flex-col items-center text-2xl text-primary-focus w-full mt-[30px];
  }
</style>
