---
import BaseLayout from '@layouts/base/index.astro';
import ArticleList from '../components/articles/index.astro';
---

<BaseLayout>
  <div class="articles-hero">
    <h1 class="mb-4">笔记列表</h1>
    <div>一些学习 / 折腾记录</div>
    <div>包括读书笔记和工具推荐</div>
  </div>
  <div class="articles">
    <ArticleList />
  </div>

  <style>
    .articles-hero {
      @apply w-full p-6 rounded-xl;
      background: linear-gradient(90deg, #ffe8d8 0%, #e3ffde 100%);
    }

    .articles {
      @apply flex flex-col items-start w-full mt-[30px];
    }
  </style>
</BaseLayout>
