---
import BaseLayout from '@layouts/base/index.astro';
import { Icon } from 'astro-icon/components';
---

<BaseLayout>
  <h2>About</h2>
  <div class="about">
    <Icon class="mb-2" :size="40" name="mage:box-3d-scan-fill" />
     施工中...
  </div>
</BaseLayout>

<style>
  .name > div {
    @apply h-24;
  }
</style>
