---
import BaseLayout from '@layouts/base/index.astro';
---

<BaseLayout>
  <div class="name">
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
    <div>你好</div>
  </div>
</BaseLayout>

<style>
  .name > div {
    @apply h-24;
  }
</style>
