---
import ProjectList from '@components/project/list.astro';
import TechStack from '@components/tech-stack/index.astro';
import BaseLayout from '@layouts/base/index.astro';
import { Icon } from 'astro-icon/components';
import { HeroCard } from '@components/hero-card';
import { Badge } from '@components/badge';
---

<BaseLayout>
  <div class="index">
    <HeroCard title="nesb01t's blog" desc={
      [
        'ðŸ‘‹ ä½ å¥½å•Š, è¿™é‡Œæ˜¯ nesb01t çš„åšå®¢',
        'æˆ‘æ¥è‡ª cn, ä½œä¸ºå‰ç«¯ & æ¸¸æˆå¼€å‘, ç›®å‰å¤§ä¸‰åœ¨è¯»',
      ]
    } />

    <TechStack />

    <ProjectList />
  </div>
</BaseLayout>

<style lang="scss">
  .index {
    @apply w-full h-full flex flex-col gap-4;
  }

  @keyframes key-color {
    0% {
      color: #a22b2b77;
    }
    50% {
      color: #28972877;
    }
    100% {
      color: #30309c77;
    }
  }

  .anime-color {
    animation: key-color 5s infinite ease;
  }
</style>
