---
import BaseLayout from '@layouts/base/index.astro';
import ProjectList from '@components/project/list.astro';
---

<BaseLayout>
  <div class="project-hero">
    <h1 class="mb-4">Pet Projects</h1>
    <div>一些相关项目，该博客也列在其中</div>
    <div>范围从 Web 前后端，hybrid App 到 windows 客户端，还有一些游戏插件</div>
  </div>
  <div class="project-list">
    <ProjectList />
  </div>
</BaseLayout>

<style>
  .project-hero {
    @apply w-full p-6 rounded-xl;
    background: linear-gradient(90deg, #d8e8ff 0%, #f8deff 100%);
  }
  .project-list {
    @apply flex flex-col items-start w-full mt-[30px];
  }
</style>
