---
import BaseLayout from '@layouts/base/index.astro';
import ProjectList from '@components/project/list.astro';
---

<BaseLayout>
  <h2>Pet Projects</h2>
  <p>大学阶段开始积累的一些小项目，该博客也列在其中</p>
  <p>范围从 Web 前后端，hybrid App 到 windows 客户端，还有一些游戏插件</p>
  <div class="project-list">
    <ProjectList />
  </div>
</BaseLayout>

<style>
  .project-list {
    @apply flex flex-col items-start w-full mt-[30px];
  }
</style>
