---
import { Icon } from 'astro-icon/components';
---

<div class="navbar-wrapper">
  <div class="navbar rounded-lg">
    <div class="flex-1">
      <button class="btn glass">
        <Icon name="mage:note-fill" />
        <span class="navbar__title">nesb01t</span>
        <div class="navbar__subtitle">web & game buffs</div>
      </button>
    </div>
    <div class="flex-none gap-2">
      <div class="tooltip tooltip-bottom" data-tip="博客列表">
        <a class="btn btn-ghost" href="/article">
          <Icon name="mage:folder-2-fill" />
           articles</a
        >
      </div>
      <div class="tooltip tooltip-bottom" data-tip="项目列表">
        <a class="btn btn-ghost" href="/project">
          <Icon name="mage:box-3d-fill" />
           projects</a
        >
      </div>
      <div class="tooltip tooltip-bottom" data-tip="关于我">
        <a class="btn btn-ghost" href="/about">
          <Icon name="mage:water-drop-fill" />
           about</a
        >
      </div>
    </div>
  </div>
</div>
<div class="h-[140px]"></div>

<style>
  .navbar-wrapper {
    @apply fixed px-8 py-1 top-0 left-0 right-0 z-10 backdrop-blur shadow-xl;
    background-color: rgba(234,234,234,0.9)
  }

  .navbar__subtitle {
    @apply text-primary font-light;
  }

  @media (max-width: 800px) {
    .navbar__subtitle {
      @apply hidden;
    }
  }
</style>
