---
import { Icon } from 'astro-icon/components';
---

<div class="navbar">
  <div class="navbar-content">
    <div class="flex-1">
      <button class="btn btn-ghost">
        <Icon class="text-[22px]" name="mage:note-fill" />
        <span class="navbar__title">nesb01t</span>
        <!-- <div class="navbar__subtitle">web & game buffs</div> -->
      </button>
    </div>
    <div class="flex-none gap-2">
      <div class="tooltip tooltip-bottom" data-tip="博客列表">
        <a class="btn btn-ghost" href="/article">
          <Icon name="mage:folder-2-fill" />
           article</a
        >
      </div>
      <div class="tooltip tooltip-bottom" data-tip="项目列表">
        <a class="btn btn-ghost" href="/project">
          <Icon name="mage:box-3d-fill" />
           project</a
        >
      </div>
      <div class="tooltip tooltip-bottom" data-tip="关于我">
        <a class="btn btn-ghost" href="/about">
          <Icon name="mage:water-drop-fill" />
           about</a
        >
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .navbar {
    @apply h-[50px];
    @apply flex justify-center p-0;

    &-content {
      @apply w-[1200px];
      @apply backdrop-blur;
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
    }

    &__subtitle {
      @apply text-primary font-light;
    }
  }

  @media (max-width: 1000px) {
    .navbar__subtitle {
      @apply hidden;
    }

    .bfc-killer {
      height: 70px;
    }
  }
</style>
