---
import { Icon } from 'astro-icon/components';

const pageSets = [
  {
    href: '/articles-classified',
    icon: 'mage:three-d-box-square-fill',
    title: '笔记分类',
  },
  {
    href: '/articles',
    icon: 'mage:folder-2-fill',
    title: '笔记列表',
  },
  {
    href: '/project',
    icon: 'mage:box-3d-fill',
    title: '项目',
  },
  {
    href: '/',
    icon: 'mage:water-drop-fill',
    title: '关于',
  },
];
---

<div class="navbar">
  <div class="navbar-content">
    <div class="flex items-center w-full">
      <a href="/" class="btn btn-ghost flex items-center">
        <Icon name="mage:note-fill" size="24" />
        <div class="navbar__title">博客 nesb01t</div>
        <div class="navbar__subtitle">一些学习笔记</div>
      </a>
      <div class="ml-auto flex gap-2 items-center">
        {
          pageSets.map((page, index) => (
            <a href={page.href} class="btn btn-ghost flex items-center">
              <Icon name={page.icon} size="20" />
              <span>{page.title}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .navbar {
    @apply h-[50px];
    @apply flex justify-center;

    &-content {
      @apply min-w-[1200px] px-5 mt-2;
      @apply backdrop-blur;
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
    }

    &__subtitle {
      @apply text-primary font-light;
    }
  }

  @media (max-width: 1000px) {
    .navbar__subtitle {
      @apply hidden;
    }

    .bfc-killer {
      height: 70px;
    }
  }
</style>
