---
const platform = "github";
const username = "nesb01t";
---

<footer>
    <h2 class="text">SAKURAI YURINA & NESB01T</h2>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        height: 200px;

        background-color: yellow;
    }

    .text {
        text-align: center;
        margin-top: auto;
        width: 100%;
    }
</style>