---
import {Icon} from 'astro-iconify';
const platform = "github";
const username = "nesb01t";
---

<footer class="h-28 w-full text-center striped-background flex-col items-center">
	<div class="title text-xl p-4">SAKURAI YURINA & NESB01T</div>
	<div class="link-group flex items-center justify-center">
		<a href="http://github.com/nesb01t">
			<Icon name="bi:github"></Icon>
		</a>
		<a href="https://blog.csdn.net/Littlelumos">
			<Icon name="logos:blogger"></Icon>
		</a>
	</div>

</footer>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

  .striped-background {
    background-color: #f2f2f2;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.5) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.5) 75%,
      transparent 75%,
      transparent
    );
    background-size: 40px 40px;
  }

  .title {
    font-family: 'Edu TAS Beginner', serif;
  }

  .link-group {
    font-family: 'Signika Negative', serif;
  }

  [astro-icon] {
    width: 30px;
    margin: 3px;
  }
</style>
