---

---
<nav class="nav-bar">
	<ul class="nav-bar-list">
		<a href="#">
			<li>首页</li>
		</a>
		<a href="#about">
			<li>关于</li>
		</a>
		<a href="#frontend">
			<li>前端</li>
		</a>
		<a href="#gameplay">
			<li>Gameplay</li>
		</a>
		<div class="nav-bar-right">
			<a href="https://github.com/Nesb01t" target="_blank">
				<li>Github</li>
			</a>
		</div>
	</ul>
</nav>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

  .nav-bar {
    position: fixed;
    width: 100%;
    z-index: 3;

    box-shadow: 0 0 3px black;

    /* 毛玻璃 */
    background: rgba(35, 35, 35, 0.33);
    backdrop-filter: blur(6px)
  }

  .nav-bar-list {
    display: flex;
    justify-content: center;
  }

  .nav-bar-list li {
    color: white;
    text-shadow: black 0 0 3px;

    font-family: 'Noto Serif SC', serif;
    font-size: 1.75rem;
    padding: 0.5em 2em;
    text-align: center;

    border-right: rgba(82, 95, 141, 0.35) 2px solid;
  }

  .nav-bar-list li:hover {
    background: rgba(82, 95, 141, 0.35);
  }

  .nav-bar-right {
    margin-left: auto;
    border-right: none;
  }
</style>