---

---
<nav class="nav-bar">
	<ul class="nav-bar-list">
		<li><a href="/">首页</a></li>
		<li><a href="/">期待更多</a></li>
	</ul>
</nav>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

  .nav-bar {
    position: sticky;
    width: 100%;

    box-shadow: 0 0 3px black;

    /* 毛玻璃 */
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(6px)
  }

  .nav-bar-list {
    width: 100%;

    display: flex;
  }

  .nav-bar-list li {
    color: white;
    text-shadow: black 0 0 3px;

    font-family: 'Noto Serif SC', serif;
    font-size: 1.75rem;
    padding: 0.5em 2em;

		border-right: #64748b 2px solid;
  }


</style>