---
import { Icon } from 'astro-icon/components';

const linkSets = [
  {
    icon: 'mingcute:github-fill',
    name: 'GitHub',
    link: 'https://github.com/nesb01t'
  },
  {
    icon: 'mingcute:star-fill',
    name: 'EachStar',
    link: 'https://each-star.com'
  },
  {
    icon: 'mingcute:bookmarks-fill',
    name: 'Juejin',
    link: 'https://juejin.cn/user/1128536414880599'
  },
  //https://www.superbed.cn/
  {
    icon: 'mingcute:pic-fill',
    name: 'Superbed',
    link: 'https://www.superbed.cn/'
  },
]
---

<div class="footer">
  <div class="footer-meteor">
    <div class="text-lg">🌠 Meteor Template</div>
    <div>Bulit by Nesb01t</div>
    <div>Powered by Astro</div>
  </div>

  <div class="footer-sites">
    <div class="footer-sites__title">
      <div class="text-lg">🔗 About</div>
      <div>social links</div>
      <div>websites</div>
    </div>
    {
      linkSets.map((link) => (
        <a href={link.link} class="footer-sites__item" target="_blank">
          <Icon name={link.icon} size={24} />
          <div>{link.name}</div>
        </a>
      ))
    }
  </div>
</div>

<style lang="scss">
  .footer {
    @apply flex items-center justify-center;
    @apply h-[80px] mt-[80px] w-full;

    color: #aaa;
    background: repeating-linear-gradient(
                    45deg,
                    #222,
                    #222 10px,
                    #111 10px,
                    #111 20px
    );

    &-meteor {
      @apply flex flex-col justify-center items-start gap-0;
      @apply text-xs;
    }

    &-sites {
      @apply flex items-center gap-4;

      &__title {
        @apply text-xs;
      }

      &__item {
        @apply flex flex-col items-center justify-center text-xs;
        @apply ml-4 cursor-pointer;
        color: #9d9f8b;
      }
    }
  }
</style>
