---
import { Icon } from 'astro-icon/components';

const { icon, name, color } = Astro.props;
---

<div class="base-badge">
  <Icon name={icon} size={24} />
  {name}
</div>

<style>
  .base-badge {
    @apply badge badge-ghost border-none rounded gap-2 h-[40px] my-2 shadow-md;
    font-size: 16px;
    font-weight: 600;
    text-shadow: black 0px 0px 3px;
    color: white;
    background-color: rgba(177, 177, 177, 0.2);
  }
</style>
