---
import Navigation from "./navigation.astro";
import Hamburger from "./hamburger.astro";
import {Image} from 'astro:assets';
import myImage from "../../assets/gae-bkg.png"
---

<header class="title-bkg bg-cover">
	<div class="title flex flex-col items-center shadow-sm shadow-slate-500">
		<!--<nav>-->
		<!--	<Hamburger/>-->
		<!--	<Navigation/>-->
		<!--</nav>-->
		<h1 class="mt-32 mb-32">Nesb01t</h1>
	</div>
</header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Long+Cang&family=Noto+Serif+SC&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&family=Playpen+Sans:wght@100&display=swap');

  .title-bkg {
    background-image: url("../../assets/nesb01t-bkg.png");
  }

  .title {
    backdrop-filter: blur(2px);
    min-height: 500px;
  }

  .title h1 {
    font-size: 10.25rem;
    letter-spacing: 5px;
    font-family: "Playpen Sans", serif;
    color: aliceblue;

    text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
  }

  .title p {
    font-size: 2.15rem;
    letter-spacing: 1px;
    font-family: "Long Cang", serif;
    color: white;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
</style>